<% cache message do %>
  <div class="message">
    <p>
      <span data-timestamp="<%= message.created_at.to_i %>"></span>
      <span class="content"><%= message.content %></span>
    <p>
  </div>
<% end %>
